---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
const LINKS = [
	{ href: '/', text: 'Home' },
	{ href: '/blog', text: 'Blog' },
	{ href: '/about', text: 'About' },
];
---

<header>
	<nav class="flex items-center justify-between py-6 border-b mb-6 dark:border-gray-700">
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div>
		{LINKS.map((link) => (
			<HeaderLink href={link.href}>{link.text}</HeaderLink>
		))}
		</div>
		
	</nav>
</header>
